*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{

    font-size: 1rem;
}

ul, nav{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}



/* Layout */
#container{
    margin: 0 auto;
    width: 100%;
    
}

.container-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero{
    margin-top: 1em;
    margin-bottom: 2em;
}



.list-item{
    flex: 1;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.item{
    padding: 1em 0;
    margin-left: 1em;
}

.main-top, .main-bottom{
    align-self: stretch;
}

.projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.project-title{
    flex: 1;
    text-align: center;
    align-self: stretch;
    border: 1px solid black;
    padding: 0.5em 0;
    margin: 0;
}

.projects-list{
    align-self: stretch;
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.project{
    text-align: center;
    align-self: stretch;
    border: 1px solid black;
    padding: 1em 0;
    cursor: pointer;
}

.experience-opensource{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.work-experience{
    align-self: stretch;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.experience-heading{
    align-self: stretch;
    padding: 1em 0;
    border: 1px solid black;
}

.experience, .open-sources, .education-jjay{
    align-self: stretch;
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    gap: 1em;
    padding: 1em;
    align-items: flex-start;
    border-bottom: 1px solid black;
}

.education-jjay{
    background-color: white;
}

.source{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.education{
    display: flex;
    flex-direction: column;
}

.education-title{
    text-align: center;
}

.main-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    gap: 1em;
}


.review{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1em;
    .review-person-name{
        color: lightgrey;
    }
}

footer{
    margin-top: 0.5em;
    padding: 1em 0;
}

/* Typography */

.item{
    font-size: 1rem;
}

.item::after{
    content: '/';
    margin-left: 1em;
}

.item:last-child::after{
    content: '';
}

.project{
    background-color: lightgray;
}

.experience-link a{
    color: blue;
    cursor: pointer;
    font-size: 1.1rem;
}

.source-link a{
    color: blue;
    cursor: pointer;
    font-size: 1.1rem;
}

.education-class::before{
    content: '-';
    margin-right: 0.5em;
}

.review{
    border: 1px solid black;
    border-radius: 15px;
    width: 20%;
    padding: 2em 2em;
}

